[user]
	name = Ariel Flesler
	email = aflesler@gmail.com
[github]
  user = flesler
[alias]
	s = status
	d = diff
	a = add -A
	undo = reset --soft HEAD^
	rev = reset --hard HEAD^
	ci = commit -m
	p = push
	pf = push -f
	st = stash
	co = checkout
	br = branch
	rb = rebase
	rbc = rebase --continue
	rba = rebase --abort
	rs = reset
[core]
	# Use custom `.gitignore`
	excludesfile = ~/.gitignore
	autocrlf = false
	quotepath = false
	editor = subl
[color]
	# Use colors in Git commands that are capable of colored output when
	ui = auto
[push]
	# Make `git push` push relevant annotated tags when pushing branches out.
	followTags = true
	default = matching
[pull]
	rebase = true
[diff]
	# Detect copies as well as renames
	renames = copies
[rerere]
	enabled = 1
[help]
	# Automatically correct and execute mistyped commands
	autocorrect = 1