[user]
	name = Ariel Flesler
	email = aflesler@gmail.com
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	d = diff
	sta = stash
	rb = rebase
	rs = reset
[core]
	# Use custom `.gitignore`
	excludesfile = ~/.gitignore
	autocrlf = false
	quotepath = false
[color]
	# Use colors in Git commands that are capable of colored output when
	ui = auto
[push]
	# Make `git push` push relevant annotated tags when pushing branches out.
	followTags = true
	default = matching
