[user]
	name = Ariel Flesler
	email = aflesler@gmail.com
[github]
  user = flesler
[credential]
  # Remember credentials when cloning over HTTPS
	helper = wincred
[alias]
	s = status -s
	d = diff
	a = add -A
	undo = reset --soft HEAD^
	discard = reset --hard HEAD^
	cm = commit -m
	ame = commit --amend
	amne = commit --amend --no-edit
	co = checkout
	rev = checkout --
	p = push
	pf = push --force-with-lease
	pr = pull --rebase
	pop = stash pop
	br = branch
	rb = rebase
	rbc = rebase --continue
	rba = rebase --abort
	rbm = rebase master
	lg = log --graph --pretty=format:'%Cred%h%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
[core]
	# Use custom `.gitignore`
	excludesfile = ~/.gitignore
	autocrlf = false
	quotepath = false
	editor = vi
	ignorecase = false
[color]
	# Use colors in Git commands that are capable of colored output when
	ui = auto
[push]
	# Make `git push` push relevant annotated tags when pushing branches out.
	followTags = true
	default = current
[pull]
	rebase = true
[diff]
	# Detect copies as well as renames
	renames = copies
[rerere]
	enabled = 1
[help]
	# Automatically correct and execute mistyped commands
	autocorrect = 1
