email=aflesler@gmail.com
engine-strict=true

[init]
author.name = "Ariel Flesler"
author.email = aflesler@gmail.com
author.url = https://github.com/flesler/
license = MIT
version = 1.0.0

[run]
silent=true
cache=/tmp/npm
